.DS_Store
.tscache/
dist/
node_modules/
package-lock.json
libs.code-workspace

app/
documentation/
frontend/
infrastructure/docker/verdaccio/storage
infrastructure/docker/verdaccio/storage/*
infrastructure/docker/verdaccio/._storage
laniakea/
libs/
microservices/
iot/
template/
terraform/
gitops/

.nx/installation
.nx/cache
.nx/workspace-data

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

**/*.tgz
**/tsconfig.tsbuildinfo


